<ion-view ng-class="apptheme"
          ng-controller="SuraDisplayCtrl"
          hide-back-button=true>
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear button-positive header-item" ng-click="goBack()">
            <i class="icon ion-ios-arrow-back"> Back</i>
            <ion-spinner  ng-if="isSuraLoading == true"></ion-spinner>
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button back-button buttons button-clear header-item icon-right {{nextPageButtonColor}}" ng-click="goNextPage()">
            {{nav_next_button_title}} <i class="icon ion-ios-arrow-forward"></i>
        </button>
    </ion-nav-buttons>

    <ion-nav-title ng-click="titleClicked()" align-title="center">
        <h5 class="title title-center">{{currentSuraDetails.tname}}</h5>
    </ion-nav-title>

    <ion-content  class="padding"
                  overflow-scroll : true
                  delegate-handle="ayaScroll">

        <p ng-if="displayBismillah == true" class="bismillah" >بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ</p>

        <ion-list>
            <ion-item class="ayat-list-item"
                      ng-class="apptheme"
                      id="aya-{{$index}}"
                      ng-repeat="ayat in currentSuraDB track by $index" >
                <table width="100%">
                    <tr>
                        <td width="100%">
                            <a style=" position: absolute;right:10px;color: gray; font-size:12px;">({{ayat[0].aya}})</a>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="row ayat-row">
                                <li style="padding:1px;display: inline;" ng-repeat="word in ayat track by $index">
                                    <table ng-class="apptheme">
                                        <tr ng-class="arabicFontSize">
                                            <td class="word-arabic" ng-class="arabicFont" width="100%">
                                                {{word.ar}}
                                            </td>
                                        </tr>
                                        <tr ng-if="isWordbyWordChecked == true">
                                            <td class="word-translation" ng-class="translationFontSize">
                                                {{word.tr}}
                                            </td>
                                        </tr>
                                    </table>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>

                <div align="right" ng-if="isTranslationChecked == true">
                    <a class="ayat-translation"
                       ng-class="translationFontSize"> {{translationDB[$index]}} </a>
                </div>
                <div style='display: table;'>
                    <br />
                    <button ng-click='showOptions(currentSuraDetails.index,ayat[0].aya)'
                            class="button-outline button-small button-positive button">
                        options
                    </button>
                </div>
            </ion-item>
            <ion-item ng-class="apptheme" ng-if="isSuraLoading == false">
                <button class="button button-positive"
                        ng-click="goNextPage()"
                        style="width:100%;">
                    {{nav_next_button_title}}
                </button>
            </ion-item>
        </ion-list>


        <div ng-if="isSuraLoading == true" ng-class="apptheme">
            Loading...
        </div>

    </ion-content>
</ion-view>