<ion-view  ng-class="apptheme">
    <ion-nav-title>
        Settings
    </ion-nav-title>
    <ion-content  class="padding">
        <ion-list>
            <h5 ng-class="apptheme">LANGUAGE</h5>
            <ion-item ng-click="selectTranslation()">
                <p style="float:left;font-weight: bold;">Translation</p>
                <p style="float:right;text-align: left;"><small>{{translationTitle}}</small></p>
            </ion-item>
            <ion-checkbox class="item-checkbox-right quran-checkbox"
                          ng-model="isTranslationChecked"
                          ng-change="isTranslationCheckedOrNot(isTranslationChecked)">
                <a style="font-size: 14px !important; color:#666;font-weight: bold;">Show Translation</a>
            </ion-checkbox>
            <ion-checkbox class="item-checkbox-right quran-checkbox"
                          ng-model="isWordbyWordChecked"
                          checked='isWordbyWordChecked'
                          ng-change="isWordbyWordCheckedOrNot(isWordbyWordChecked)">
                <a style="font-size: 14px !important; color:#666;font-weight: bold;">Show Word by Word</a>
            </ion-checkbox>

            <br />
            <h5 ng-class="apptheme">APPEARANCE</h5>
            <ion-item ng-click="selectTheme()">
                <p style="float:left;font-weight: bold;">Theme</p>
                <p style="float:right;text-align: left;"><small>{{themeTitle}}</small></p>
            </ion-item>
            <ion-item ng-click="selectArabicFont()">
                <p style="float:left;font-weight: bold;">Arabic Font</p>
                <p style="float:right;text-align: left;"><small>{{arabicFontTitle}}</small></p>
            </ion-item>
            <ion-item ng-click="selectArabicFontSize()">
                <p style="float:left;font-weight: bold;">Arabic Font Size</p>
                <p style="float:right;text-align: left;"><small>{{arabicFontSizeTitle}}</small></p>
            </ion-item>
            <ion-item ng-click="selectTranslationFontSize()">
                <p style="float:left;font-weight: bold;">Translation Font Size</p>
                <p style="float:right;text-align: left;"><small>{{translationFontSizeTitle}}</small></p>
            </ion-item>

            <br />
            <h5 ng-class="apptheme">ABOUT</h5>

            <a href="mailto:quran@goodmuslims.org?subject=QuranAppV1.0">
            <ion-item >
                    <p style="float:left;font-weight: bold;">Feedback</p>
            </ion-item>
            </a>
            <ion-item >
                <p style="float:left;font-weight: bold;">Version 1.0</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>